<div class="progress-info">
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    <MudText Style="padding-top: 20px;" Typo="Typo.h4">Rufe Daten ab...</MudText>
</div>
